{% extends "base.twig" %}

{% block content %}
  {% if current_user(app) %}
    <h2>tasks</h2>
    <form action="{{ path('add_task') }}" method="post">
      <div>
        <input type="text" id="name" name="name">
        <button type="submit">add task</button>
      </div>
    </form>
    {% if tasks %}
      <ul>
        {% for task in tasks %}
          <li>
            <form action="{{ path('task_done') }}" method="post">
              <button type="submit">done!</button>
              <input type="hidden" value="{{ task.id }}" name="id" id="task_id">
              <label>{{ task.name }}</label>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>nothing to do.</p>
    {% endif %}
  {% else %}
    <p>todo.</p>
  {% endif %}
{% endblock %}
