{% extends "base.twig" %}

{% block content %}
  <h2>users</h2>
  {% if users %}
    <ol>
      {% for user in users %}
        <li>
          {{ user.name }} (<a href="{{ path('user', {'username': user.username}) }}">{{ user.username }}</a>)
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>no users.</p>
  {% endif %}
{% endblock %}
